.App {
  text-align: center;
}
.nav_link {

}
.navLink--active {
  background-color:#dae0e5!important;
}
.font-large {
  font-size: 1.4rem;
  line-height:1.4rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
